.link-style:hover{
    color: #793FDF;
    cursor: pointer;
}
.link-style{
    text-decoration: none;
}
.active{
    color: #793FDF;
}

.link-style:active{
    color:#793FDF;
}

a:visited{
    color:#793FDF;
}