<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fidelity.portfolio.mapper.TradeHistoryMapper">

	<!-- <resultMap type="TradeHistory" id="TradeHistoryMap">
		<result property="cash_value" 	column="cash_value" />
		<result property="quantity" 	column="quantity" />
		<result property="direction"		column="direction" />
		<result property="instrument_id"		column="instrument_id" />
		<result property="client_id" column="client_id" />
		<result property="trade_id" column="trade_id" />
		<result property="execution_price" column="execution_price" />
	</resultMap>
		<select id="getTradeHistory" resultMap="TradeHistoryMap">
		select cash_value,quantity,direction,instrument_id,client_id,trade_id,execution_price from trade where client_id = #{client_id}
	</select> -->
	
	
</mapper>