.circle {
    width: 40px;
    height: 40px;
    background-color: #793FDF ;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* .bg-dark{
    background-color: #8064A2 !important;
} */

.dropdown-menu-left {
    left: auto;
    right: 0;
  }

.current{
    width: 100px;
}